 <div class="grid">
        <div class="col-12 lg:col-3 md:col-6 mb-1">
         <app-dashboard-payment></app-dashboard-payment>
        </div>
        <div class="col-12 lg:col-3 md:col-6 mb-1">
            <app-dashboard-user-report></app-dashboard-user-report>
        </div>
        <div class="col-12 lg:col-3 md:col-6 ">
      <app-dashboard-comments></app-dashboard-comments>
        </div>
        <div class="col-12 lg:col-3 md:col-6 ">
            <app-dashboard-candidate></app-dashboard-candidate>
        </div>
   </div>
