<div class="header-wrapper">
    <div class="header">
        <div class="flex flex-row align-items-center">  
            <div class="logo">
                <img src="./assets/logo/hurecom_logo.svg" alt="logo" />
            </div>
            <!-- <div class="ml-5">
                <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
            </div> -->
        </div>
        <div class="flex mr-5">

            <!-- <div class="quick-candidate mr-5" (click)="openQuickCandidateModal()">
                Quick Candidate
            </div>
            <div class="icon-container" (click)="openCandidateLinkShareModal()">
                <i class="pi pi-user mx-2 icon-large icon-blue user-icon"></i>
                <i class="pi pi-link mx-1 icon-small icon-blue chain-icon"></i>
             </div> -->
            <div class="account-wrapper" appClickedOutside (clickedOutside)="close()">
                <span class="user-name flex flex-row">
                    <div class="first-letter">
                        <div class="first-letter-flex">
                            <span> {{ username ? username.charAt(0) : 'a' }}</span>
                        </div>
                    </div>
                    <span class="flex flex-column align-items-start mr-2">
                        <span class="font-size: 12px;" style="padding-bottom: 1px;">
                            {{ username ? username:'Name' }} 
                        <!-- <b> - </b> {{ userDetails?.role.name }} -->
                        </span>
                        <!-- <span style="font-size: 12px;">{{ userDetails?.organization.name }}</span> -->
                    </span>
                    <i class="pi pi-angle-down"></i>
                </span>
                <ul class="account-menu scalein fadeout">
                    <li class="menu-item mt-2" routerLink="/account" (click)="setPanel('ACCOUNT')">
                        <a class="menu-link">
                            <i class="pi pi-user menu-icon"></i>
                            <span>My Account</span>
                        </a>
                    </li>
                    <!-- <li class="menu-item" routerLink="/account/change-password" (click)="setPanel('ACCOUNT')">
                        <a class="menu-link">
                            <i class="pi pi-lock menu-icon"></i>
                            <span>Change Password</span>
                        </a>
                    </li> -->
                    <div class="divider"></div>
                    <li class="menu-item mb-2" (click)="logout()">
                        <a class="menu-link">
                            <i class="pi pi-sign-out menu-icon"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>