
<div class="wrapper">
    <div class="heading">
        <span>
            <i class="pi pi-arrow-left back-icon" routerLink="/candidates"></i>
            Create Candidate
        </span>
    </div>
    <div class="profile-wrapper">
        <app-candidate-details (savedCandidate)="complete($event)"></app-candidate-details>
      
        <app-institute-divider></app-institute-divider>
        
        <app-cource-details></app-cource-details>

        <div class="col-12">
            <div class="profile-wrapper mr-2 mt-2">
                 <app-candidate-comment></app-candidate-comment>
            </div>
        </div>
        <div class="flex-end mt-3">
            <p-button [label]="dataLoaded ? 'Submit' : 'Saving..'" (onClick)="saveCandidate()" [disabled]="!dataLoaded">
            </p-button>
        </div>
    </div>
</div>