 
<div class="wrapper">
    <div class="heading">
        <span>
            <i class="pi pi-arrow-left back-icon" routerLink="/payment-details"></i>
            Edit Payment
        </span>
    </div>
    <div class="profile-wrapper">

<form [formGroup]="paymentForm">
  <div class="section-heading">Payemnt Details</div>
  <div class="grid">
     
    <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label class="required">Course Fees</label>
         <div class="input-wrapper">
            <input pKeyFilter="num" type="number"  pInputText formControlName="courseFees" />
        </div>
      </div>
      <small class="error-message"
        *ngIf="paymentForm.controls['courseFees'].invalid && showError">
        Please Enter 0 If Course Not Selected</small
      >
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div>
        <label class="required">Discount</label>
         <div class="input-wrapper">
            <input pKeyFilter="num" type="number"  pInputText formControlName="discount" />
        </div>
      </div>
      <small class="error-message"
        *ngIf="paymentForm.controls['discount'].invalid && showError">
        Enter 0 If no Discount</small
      >
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div>
        <label>Paid Date</label>
        <div class="input-wrapper">
         <p-calendar formControlName="paidDate" placeholder="Select From Date"></p-calendar>

        </div>
      </div>
      <small
        class="error-message"
        *ngIf="
          paymentForm.controls['paidDate'].invalid && showError
        "
      >
        Paid Date is required</small
      >
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div>
        <label class="required">Amount Paid</label>
         <div class="input-wrapper">
            <input pKeyFilter="num" type="number"  pInputText formControlName="amountPaid" />
        </div>
      </div>
      <small class="error-message"
        *ngIf="paymentForm.controls['amountPaid'].invalid && showError">
         Enter 0 If Amount Not Paid</small
      >
    </div>


     <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label>Mode Of Payment</label>
        <div class="input-wrapper">
           <p-dropdown
            [options]="paymentModeList"
             optionLabel="displayValue"
            optionValue="dataValue"
            placeholder="Select Payment Mode"
            formControlName="paymentMode"
          >
          </p-dropdown>
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="paymentForm.controls['paymentMode'].invalid && showError"
      >
      Payment Mode is required</small
      >
    </div>

     <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label>Balance Due Amount</label>
         <div class="input-wrapper">
            <input pKeyFilter="num" type="number"  pInputText formControlName="balanceAmount"  [readonly]="true" />
        </div>
      </div>
      <small class="error-message"
        *ngIf="paymentForm.controls['balanceAmount'].invalid && showError">
         Balance Due Amount is required</small
      >
    </div>

  </div>

  <div class="flex-end mt-3">
            <p-button label="Update" (onClick)="savepayment()" >
            </p-button>
   </div>   
</form>

   <p-table [value]="paymentHistory"  [lazy]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>COURSE FEES</th>
                <th>AMOUNT PAID</th>
                <th>PAYMENT MODE</th>
                <th>BALANCE</th>
                <th>PAYMENT DATE</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-payment>
            <tr>
            <td>{{payment.historyCourseFees}}</td>
            <td>{{payment.historyAmountPaid}}</td>
            <td>{{payment.historyPaymentMode}}</td>
            <td>{{payment.historyBalanceAmount}}</td>
            <td>{{payment.historyPaidDate}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No records found.</td>
            </tr>
        </ng-template>
   </p-table>
</div>

