<div class="wrapper">
    <div class="heading">
        <span>
            <i class="pi pi-arrow-left back-icon" routerLink="/candidates"></i>
            Edit Student
        </span>
    </div>
    <div>
        <div class="grid">
            <!-- <div class="col-12"> -->
                <div class="profile-wrapper mr-2">
                    <app-candidate-details (savedCandidate)="complete($event)"></app-candidate-details>
                     
                    <app-institute-divider></app-institute-divider>

                    <app-cource-details></app-cource-details>

                    <app-institute-divider></app-institute-divider>

                   <app-payment></app-payment>
                
            <!-- </div> -->
            
            <div class="flex-end mt-3">
             <p-button [label]="dataLoaded ? 'Submit' : 'Saving..'" (onClick)="saveCandidate()" [disabled]="!dataLoaded">
             </p-button>
            </div>

            <div class="col-12">
                <div class="profile-wrappert-2">
                    <app-list-comment-wrapper></app-list-comment-wrapper>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>