
<form [formGroup]="candidateForm">
  <div class="section-heading">Personal Details</div>
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label class="required">Mobile Number</label>
        <div class="input-wrapper">
          <input
            type="text"
            pKeyFilter="int"
            [maxlength]="10"
            pInputText
            formControlName="mobileNumber"
            (blur)="getCandidateDetailsByMobileNumber()"
          />
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="candidateForm.controls['mobileNumber'].invalid && showError"
      >
        Mobile Number is required</small
      >
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label class="required">Candidate Name</label>
        <div class="input-wrapper">
          <input type="text" pInputText formControlName="name" />
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="candidateForm.controls['name'].invalid && showError"
      >
        Candidate Name is required</small
      >
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label class="required">Email</label>
        <div class="input-wrapper">
          <input type="text" pInputText formControlName="email" />
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="candidateForm.controls['email'].invalid && showError"
      >
        Email is required</small
      >
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label class="required">Gender</label>
        <div class="input-wrapper">
          <p-dropdown
            [options]="genderList"
            optionLabel="displayValue"
            optionValue="dataValue"
            placeholder="Select Gender"
            formControlName="gender"
          >
          </p-dropdown>
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="candidateForm.controls['gender'].invalid && showError"
      >
        Gender is required</small
      >
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label>Parent Contact</label>
        <div class="input-wrapper">
          <input
          type="text"
          pKeyFilter="int"
          [maxlength]="10"
          pInputText
            formControlName="parentContact"
          />
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="
          candidateForm.controls['parentContact'].invalid && showError
        "
      >
        Parent contact is required</small
      >
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label class="required">Qualification</label>
        <div class="input-wrapper">
          <input type="text" pInputText formControlName="qualification" />
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="candidateForm.controls['qualification'].invalid && showError"
      >
        Qualification is required</small
      >
    </div>
<!-- 
    <div class="col-12 md:col-6 lg:col-3" *ngIf="display('languagesKnown')">
      <div class="field-wrapper">
        <label [ngClass]="{ required: isRequired('languagesKnown') }"
          >Languages Known</label
        >
        <div class="input-wrapper">
          <p-multiSelect
            [options]="languages"
            defaultLabel="Select Languages"
            [showHeader]="false"
            optionLabel="displayValue"
            optionValue="dataValue"
            formControlName="languagesKnown"
          >
          </p-multiSelect>
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="candidateForm.controls['languagesKnown'].invalid && showError"
      >
        Languages Known is required</small
      > 
    </div>-->

     


     <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label class="required">Marital Status</label>
        <div class="input-wrapper">
          <p-dropdown
            [options]="maritalStatus"
            optionLabel="displayValue"
            optionValue="dataValue"
            placeholder="Select Marital Status"
            formControlName="maritalStatus"
          >
          </p-dropdown>
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="candidateForm.controls['maritalStatus'].invalid && showError"
      >
        Marital Status is required</small
      >
    </div>
 
     <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label class="required">Location</label>
        <div class="input-wrapper">
          <input type="text" pInputText formControlName="location" />
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="candidateForm.controls['location'].invalid && showError"
      >
        Location is required</small
      >
    </div>


    <div class="col-12 md:col-6 lg:col-3">
      <div class="field-wrapper">
        <label class="required">Address</label>
        <div class="input-wrapper">
          <input type="text" pInputText formControlName="address" />
        </div>
      </div>
      <small
        class="error-message"
        *ngIf="candidateForm.controls['address'].invalid && showError"
      >
        Address is required</small
      >
    </div>
  </div>

  <app-institute-divider></app-institute-divider>
    
</form>
