<div class="side-bar-wrapper">
	<div class="side-bar">
		<div class="side-bar-dark">
			<div class="side-bar-container custom-scroll">
				<ng-container>
					<ul>
						<li class="menu-item" routerLink="/dashboard" pTooltip="Dashboard"
							(click)="gs.setPanel('HOME')">
							<a class="menu-link" routerLinkActive="menu-active">
								<i class="pi pi-home menu-icon"></i>
							</a>
						</li>
						<li class="menu-item" routerLink="/candidates" pTooltip="Candidates">
							<a class="menu-link" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact:
                                false}">
								<i class="pi pi-user menu-icon"></i>
							</a>
						</li>
						<li class="menu-item" pTooltip="View-user" routerLink="/view-user">
							<a class="menu-link" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact:
                                false}">
								<i class="pi pi-shield menu-icon"></i>
							</a>
						</li>

						<li class="menu-item"  routerLink="payment-details"
							pTooltip="Payment">
							<a class="menu-link" routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact:
                            true}">
								<i class="pi pi-money-bill menu-icon"></i>
							</a>
						</li>
						
						<li class="menu-item" pTooltip="Create User"
							routerLink="login/create-user">
							<a class="menu-link" routerLinkActive="menu-active">
								<i class="pi pi-database menu-icon"></i>
							</a>
						</li>

					</ul>
				</ng-container>
			</div>
		</div>
	</div>
</div>